@import "/styles/variables.scss";

.pk-layout {
  width: 100dvw;
  height: 100dvh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &__navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row; /* Cambiado a row */
    justify-content: space-between; /* Para separar los elementos a los extremos */
    align-items: center; /* Para centrar verticalmente */
    border-bottom: 1px solid $gray-900;

    /* Estilos para el nuevo div que contiene el logo y el subtítulo */
    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
  &__app {
    display: grid;
    width: 100%;
    height: 100dvb;
    grid-template-columns: auto 360px;
    gap: 20px;
    background-color: $gray-1000;
  }
}